<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>StickerLand</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>StickerLand</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'sticker_list' %}">Inventory</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 StickerLand. All rights reserved.</p>
    </footer>
</body>
</html>
